<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'new.css' %}">
    <title>New Show</title>
</head>
<body>
    <a>Go Back</a>
    <h1>Add a New Show</h1>
    <form>
        <label for="title">Title</label>
        <input type="text" name="title" class="wide-input">
        <div>
            <div>
                <label for="network">Network</label>
                <input type="text" name="network">
            </div>
            <div>
                <label for="release_date">Release Date</label>
                <input type="date" name="release_date">
            </div>
        </div>
        <label for="desc">Description</label>
        <input type="text" class="wide-input">
        <a><input type="submit" name="submit" value="Create" class="submit"></a>
    </form>
</body>
</html>