<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'new.css' %}">
    <title>New Show</title>
</head>
<body>
    <a> Go Back</a>
    <h1>Add a New Show</h1>
    <form>
        <label for="title">Title</label>
        <input type="text" name="title">
        <label for="network">Network</label>
        <input type="text" name="network">
        <label for="release_date">Release Date</label>
        <input type="date" name="release_date">
        <label for="desc">Description</label>
        <input type="text">
        <input type="submit" name="submit" value="Create">
    </form>
</body>
</html>