<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'show-details.css' %}">
    <title>Show Details</title>
</head>
<body>
    <a href="/shows" class="back">Go Back</a>
    <h1>TV Show {{ show.id }}</h1>
    <p>Title: {{ show.title }}</p>
    <p>Network: {{ show.network.name }}</p>
    <p>Release Date: {{ show.release_date }}</p>
    <p>Description: {{ show.desc }}</p>
    <br>
    <br>
    <p>Last Updated: {{ show.updated_at }}</p>
    <div>
        <p><a href="{{ show.id }}/edit">Edit</a> | <a href="{{ show.id }}/delete">Delete</a></p>
    </div>
    
</body>
</html>