* {
    margin: 0;
    padding: 0;
}

body {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

form {
    margin-left: auto;
    margin-right: auto;
}

a {
     margin-left: 11.25em;
}

label, input {
    display: block;
    margin: 0.5em;
}

.wide-input {
    width: 30%;
}


.submit {
    margin-left: 15em;
    box-shadow: 2px 2px lightgray;
}